
.container {
    width: 1000px;
    height: 500px;
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
  }
  .heading {
    text-align: center;
    
    justify-content: center;
  }

  .formContainer {
        width: 500px;
        height: 250px;
        margin: 50px;
        outline: solid 1px black;
        display: flex;
        justify-content: center;
        align-items: center;

  }

  .formContainerSignup{
    width: 500px;
        height: 300px;
        margin: 50px;
        outline: solid 1px black;
        display: flex;
        justify-content: center;
        align-items: center;
  }